[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/cycinter/hugo-theme-dream.git
[submodule "themes/eurozephyr"]
	path = themes/eurozephyr
	url = https://codeberg.org/gbilder/eurozephyr.git
